<template>
  <div :class="['carousel', {'isInited': loaded}]" :style="{height}" v-if="!isDestroyed">
    <div :class="['carousel__Track', {'isDraggable': draggable}, {'isMouseDown': draggable && isMouseDown}]">
      <div class="carousel__Items">
        <slot/>
      </div>
      <span class="carousel__LoadingBar" v-if="autoplay && loadingBar">
        <span :style="{transform: `translateX(-100%) translateX(${percentage}%)`}"/>
        <label class="carousel__LoadingBarPercentage" v-if="loadingBarPercentage" v-text="`${percentage}%`"/>
      </span>
      <div class="carousel__Arrows" v-if="arrows && numberOfItems > 1">
        <slot name="arrows">
          <button class="carousel__ArrowPrev" :disabled="arrowsDisabled || isArrowDisabled['prev']" @click="prev">Prev</button>
          <button class="carousel__ArrowNext" :disabled="arrowsDisabled || isArrowDisabled['next']" @click="next">Next</button>
        </slot>
      </div>
    </div>
    <ul class="carousel__Dots" v-if="dots && numberOfItems > 1">
      <li v-for="(item, i) in items" :class="{'isActive': i === index}" :key="i">
        <button @click="dotClicked(i)">
          <slot name="dots" v-bind="{index: i, activeIndex: index, items}">
            {{ i + 1}}
          </slot>
        </button>
      </li>
    </ul>
  </div>
  <div class="carousel isInited" v-else>
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      default: 0
    },
    dots: {
      default: true
    },
    arrows: {
      default: true
    },
    infinite: {
      default: true
    },
    transitionDuration: {
      default: 500
    },
    adaptiveHeight: {
      default: false
    },
    autoplayDirection: {
      default: 'forward'
    },
    autoplay: {
      default: 3000
    },
    pauseOnHover: {
      default: true
    },
    draggable: {
      default: true
    },
    lazyLoad: {
      default: false
    },
    loadingBar: {
      default: true
    },
    loadingBarPercentage: {
      default: false
    },
    fade: {
      default: false
    },
    dragOffset: {
      default: 50
    },
    slidesToShow: {
      default: 1
    }
  },

  data(){
    return {
      loaded: false,
      isDestroyed: false,
      items: [],
      index: this.value,
      offset: 0,
      height: 'auto',
      images: null,
      isMouseDown: false,
      lastOrFirst: '',
      activeItem: null,
      itemsElement: null,
      track: null,
      numberOfItems: 0,
      autoplayInterval: null,
      passedAutoplayTime: 0,
      passedAutoplayTimeInterval: null,
      arrowsDisabled: false,
      watchValue: true,
      isArrowDisabled: {
        prev: false,
        next: false
      }
    }
  },

  mounted(){
    if(process.browser){
      let dragStartX = 0;
      let loadedImages = 0;
      
      this.setDefaults();

      this.images.forEach(element =>{
        let src = element.src;
        element.removeAttribute('src');
        element.setAttribute('draggable', false);
        if(this.lazyLoad) {
          element.setAttribute('data-carousel-lazy', src);
        } else{
          element.src = src;
          element.addEventListener('load', () =>{
            element.classList.add('isLoaded')
            loadedImages++;
            if(this.images.length === loadedImages) {
              this.init();
            }
          })
        }
      });

      if(this.lazyLoad) this.init();

      if(this.draggable && this.numberOfItems > 1){
        for(let event of ['mousedown', 'touchstart']){
          this.track.addEventListener(event, (e) =>{
            if(!this.arrowsDisabled){
              let ev = event === 'touchstart' ? e.changedTouches[0] : e
              if(event === 'mousedown') this.isMouseDown = true;
              dragStartX = ev.clientX;
              this.setFirstAndLast();
              this.$emit('dragstart')
            }
          });
        }
    
        for(let event of ['mousemove', 'touchmove']){
          this.track.addEventListener(event, (e) =>{
            let ev = event === 'touchmove' ? e.changedTouches[0] : e
            if(event === 'touchmove' || this.isMouseDown){
              this.translateSlide(ev.clientX, dragStartX);
              this.$emit('drag', this)
            }
          });
        }
    
        for(let event of ['mouseup', 'touchend', 'mouseleave']){
          this.track.addEventListener(event, (e) =>{
            if(event === 'touchend' || this.isMouseDown){
              let ev = event === 'touchend' ? e.changedTouches[0] : e
              let direction = ev.clientX > dragStartX ? -1 : 1;
              let index = this.getInfiniteIndex(Math.round((this.offset+(direction*-1*(this.slideSize/2))+direction*this.dragOffset)/this.slideSize)*-1);
              this.isMouseDown = false;
              this.goToSlide(index);
              this.$emit('dragend')
            }
          })
        }
      }

      if(this.pauseOnHover && this.numberOfItems > 1 && this.autoplay !== false){
        for(let event of ['mouseenter', 'mousedown']){
          this.track.addEventListener(event, (e) =>{
            clearInterval(this.autoplayInterval)
            clearInterval(this.passedAutoplayTimeInterval)
          })
        }

        for(let event of ['mouseup', 'touchend', 'mouseleave']){
          this.track.addEventListener(event, (e) =>{
            this.setAutoplayInterval();
            this.setPassedAutoplayTimeInterval();
          })
        }
      }
    }
  },

  computed: {
    getLargestImage(){
      return Math.max(...this.images.map(i => i.clientHeight))
    },

    percentage(){
      return ((this.passedAutoplayTime/(this.autoplay + (this.fade ? this.transitionDuration : 0)))*100).toFixed(0)
    }
  },

  methods: {
    init(){
      this.goToSlide(this.index);
      if(this.lazyLoad) this.lazyLoadImages(this.index);
      else {
        if(this.adaptiveHeight) this.height = `${this.activeItem.clientHeight}px`;
        else this.height = `${this.getLargestImage}px`;
      }

      if(this.autoplay !== false && this.numberOfItems > 1){
        this.setAutoplayInterval();
      }

      this.loaded = true;
      this.$emit('init', this);
    },

    append(element){
      this.addElements('append', element);
    },

    prepend(element){
      this.addElements('prepend', element);
    },

    addElements(kind, element){
      let children = element.tagName.toLowerCase() === 'img' ? [element] : element.querySelectorAll('img');
      for(let image of [...children]){
        let src = image.src;
        image.removeAttribute('src');
        image.src = src;
        image.setAttribute('draggable', false);
      }
      if(kind === 'append') this.itemsElement.appendChild(element);
      else if(kind === 'prepend'){
        this.goToSlide(this.index + 1, 0);
        this.itemsElement.insertBefore(element, this.itemsElement.firstChild);
      }

      this.setDefaults()
    },

    setDefaults(){
      this.images = [...this.$el.querySelectorAll('.carousel__Items img')];
      this.itemsElement = this.$el.querySelector('.carousel__Items');
      this.track = this.$el.querySelector('.carousel__Track');
      this.items = [...this.itemsElement.children];
      this.numberOfItems = this.items.length;

      this.slideSize = this.$el.clientWidth/this.slidesToShow
      this.largeTrackSize = this.numberOfItems * this.slideSize
      this.trackSize = (this.numberOfItems - 1) * this.slideSize

      this.images.forEach(element =>{
        element.setAttribute('draggable', false);
      });

      this.items.forEach((item, index) =>{
        item.style.transform = `translateX(${index*this.slideSize}px)`;
        if(this.fade) {
          if(item !== this.activeItem){
            item.style.opacity = 0;
            item.style.transition = `opacity ${this.transitionDuration}ms`
          }
        } else {
          item.style.removeProperty('opacity');
          item.style.removeProperty('transition');
        }

        if(this.slidesToShow !== 1) item.style.width = `${100/this.slidesToShow}%`
        item.classList.add('carousel__Item')
      });
    },

    getInfiniteIndex(index){
      if(this.infinite) return index < 0 ? this.numberOfItems - 1 : index % this.numberOfItems;
      return index < 0 ? 0 : index > this.numberOfItems - 1 ? this.numberOfItems - 1 : index;
    },

    setPassedAutoplayTimeInterval(){
      if(this.passedAutoplayTimeInterval !== null) clearInterval(this.passedAutoplayTimeInterval)
      this.passedAutoplayTimeInterval = setInterval(() => {
        this.passedAutoplayTime+=50;
        if(this.passedAutoplayTime >= (this.autoplay + (this.fade ? this.transitionDuration : 0))){
          this.passedAutoplayTime = 0;
          clearInterval(this.passedAutoplayTimeInterval)
        }

        if(this.fade && this.passedAutoplayTime >= this.autoplay && this.activeItem !== null){
          this.activeItem.style.opacity = 0;
        }
      }, 50);
    },

    setAutoplayInterval(){
      if(this.autoplayInterval !== null){
        clearInterval(this.autoplayInterval)
      }
      this.setPassedAutoplayTimeInterval();
      this.autoplayInterval = setInterval(() => {
        if(this.autoplayDirection === 'forward') this.next();
        else if(this.autoplayDirection === 'backward') this.prev();
      }, this.autoplay - this.passedAutoplayTime + (this.fade ? this.transitionDuration : 0));
    },

    prev(){
      let index = this.getInfiniteIndex(this.index - 1);
      if(this.infinite){
        if(index === this.numberOfItems - 1){
          this.offset = this.slideSize;
          this.lastOrFirst = 'first';
          this.items[this.numberOfItems - 1].style.transform = `translateX(${-this.slideSize}px)`
        }
      }
      this.goToSlide(index);
      this.$emit('navigation-clicked', this.index, this.activeItem, 'prev')
      if(this.autoplay !== false) this.setAutoplayInterval();
    },

    next(){
      let index = this.getInfiniteIndex(this.index + 1);
      if(this.infinite){
        if(index === 0){
          this.offset = -this.numberOfItems*this.slideSize;
          this.items[0].style.transform = `translateX(${this.largeTrackSize}px)`
          this.lastOrFirst = 'last';
        }
      }
      this.goToSlide(index);
      this.$emit('arrow-clicked', this.index, this.activeItem, 'next')
      if(this.autoplay !== false) this.setAutoplayInterval();
    },

    dotClicked(index){
      this.goToSlide(index);
      this.$emit('dot-clicked', this.index, this.activeItem)
      if(this.autoplay !== false) this.setAutoplayInterval();
    },

    setAdaptiveHeight(index=this.index){
      if(this.items[index] !== null){
        this.items[index].classList.add('isStatic')
        this.height = `${this.items[index].clientHeight}px`
        this.items[index].classList.remove('isStatic')
      }
    },

    lazyLoadImages(index){
      let newItem = this.items[index];
      let images = newItem.tagName.toLowerCase() === 'img' ? [newItem] : newItem.querySelectorAll('img');
      for(let image of [...images]){
        if(image.getAttribute('data-carousel-lazy')){
          image.src = image.getAttribute('data-carousel-lazy');
          image.removeAttribute('data-carousel-lazy')
          image.addEventListener('load', () =>{
            this.setAdaptiveHeight(index)
          })
        }
      }

      this.setAdaptiveHeight(index)
    },

    goToSlide(index, transitionDuration=this.transitionDuration){
      let oldIndex = this.index;
      if((this.offset > 0 || this.offset < -this.trackSize) && this.infinite){
        let elementX = this.lastOrFirst === 'first' ? this.slideSize : -(this.largeTrackSize)
        let trackX = this.lastOrFirst === 'first' ? this.trackSize : 0;
        let movedElementIndex = this.lastOrFirst === 'first' ? this.numberOfItems - 1 : 0
        let newIndex = this.getInfiniteIndex(movedElementIndex)

        this.$emit('before-change', oldIndex, newIndex, this.activeItem)

        if(this.fade) this.itemsElement.style.transition = `0s`;
        else this.itemsElement.style.transition = `transform ${transitionDuration}ms`;
        this.itemsElement.style.transform = `translateX(${elementX}px)`;
        this.arrowsDisabled = true;
        setTimeout(() => {
          this.arrowsDisabled = false;
          this.itemsElement.style.transition = `transform ${0}ms`;
          this.itemsElement.style.transform = `translateX(${-trackX}px)`;
          this.items[movedElementIndex].style.transform = `translateX(${trackX}px)`;
        }, transitionDuration);
        this.index = newIndex;
        this.offset = -this.index*this.slideSize;
      } else {
        let newIndex = this.getInfiniteIndex(index);
        this.$emit('before-change', this.index, newIndex, this.activeItem)
        this.index = newIndex;
        this.offset = -this.index*this.slideSize;
        if(this.fade) this.itemsElement.style.transition = `0s`;
        else this.itemsElement.style.transition = `transform ${transitionDuration}ms`;
        this.itemsElement.style.transform = `translateX(${this.offset}px)`;
      }

      this.lastOrFirst = '';

      if(this.activeItem !== this.items[this.index]){
        let isFirst = false;
        if(this.activeItem !== null){
          this.activeItem.classList.remove('isActive')
          if(this.fade) this.activeItem.style.opacity = 0;
          if(this.lazyLoad) this.lazyLoadImages(this.getInfiniteIndex(this.index));
        } else isFirst = true;
        
        if(this.autoplay !== false) {
          this.passedAutoplayTime = 0;
          this.setAutoplayInterval();
        }

        this.activeItem = this.items[this.index];
        if(this.fade) {
          for(let i = 0; i < this.slidesToShow; i++){
            this.items[this.index + i].style.opacity = 1;
          }
        }
        this.activeItem.classList.add('isActive');
        if(this.adaptiveHeight) this.setAdaptiveHeight();

        if(!isFirst){
          this.watchValue = false;
          this.$emit('input', this.index);
          this.$emit('change', this.index, this.activeItem)
          this.$emit('after-change', this.index, oldIndex, this.activeItem)
        }
      }

      if(!this.infinite){
        this.isArrowDisabled.prev = this.index === 0;
        this.isArrowDisabled.next = this.index === this.numberOfItems - 1;
      }
    },

    setFirstAndLast(){
      if(this.index === this.numberOfItems - 1) {
        this.lastOrFirst = 'last';
        if(this.offset < -this.trackSize){
          this.items[0].style.transform = `translateX(${this.largeTrackSize}px)`
        }
      } 
      
      if(this.index === 0){
        this.lastOrFirst = 'first';
        if(this.offset > 0){
          this.items[this.numberOfItems - 1].style.transform = `translateX(${-this.slideSize}px)`
        }
      }
    },

    translateSlide(x, dragStartX){
      let xPosition = dragStartX > x ? dragStartX - x : x - dragStartX;
      let direction = dragStartX > x ? -1 : 1;
      this.offset = direction * xPosition+(-this.index*this.slideSize);
      if(this.infinite) this.setFirstAndLast();
      if(!this.fade){
        this.itemsElement.style.transition = `0s`;
        this.itemsElement.style.transform = `translateX(${this.offset}px)`;
      }
    },

    destroy(){
      this.isDestroyed = true;
    }
  },

  watch: {
    value(){
      if(this.watchValue){
        if(this.autoplay !== false){
          this.passedAutoplayTime = 0;
          this.setAutoplayInterval();
        }
        this.goToSlide(this.value)
      } else this.watchValue = true;
    },

    fade(){
      this.setDefaults();
      this.goToSlide(this.index);
    },

    isDestroyed(value){
      if(!value) this.init();
    }
  }
}

// IE Polyfill
if (!Array.from) {
  Array.from = (function () {
    var toStr = Object.prototype.toString;
    var isCallable = function (fn) {
      return typeof fn === 'function' || toStr.call(fn) === '[object Function]';
    };
    var toInteger = function (value) {
      var number = Number(value);
      if (isNaN(number)) { return 0; }
      if (number === 0 || !isFinite(number)) { return number; }
      return (number > 0 ? 1 : -1) * Math.floor(Math.abs(number));
    };
    var maxSafeInteger = Math.pow(2, 53) - 1;
    var toLength = function (value) {
      var len = toInteger(value);
      return Math.min(Math.max(len, 0), maxSafeInteger);
    };
    
    return function from(arrayLike) {
      var C = this;
      var items = Object(arrayLike);
      if (arrayLike == null) {
        throw new TypeError("Array.from requires an array-like object - not null or undefined");
      }
      var mapFn = arguments.length > 1 ? arguments[1] : void undefined;
      var T;
      if (typeof mapFn !== 'undefined') {
        if (!isCallable(mapFn)) {
          throw new TypeError('Array.from: when provided, the second argument must be a function');
        }
        
        if (arguments.length > 2) {
          T = arguments[2];
        }
      }
      var len = toLength(items.length);
      var A = isCallable(C) ? Object(new C(len)) : new Array(len);
      var k = 0;
      var kValue;
      while (k < len) {
        kValue = items[k];
        if (mapFn) {
          A[k] = typeof T === 'undefined' ? mapFn(kValue, k) : mapFn.call(T, kValue, k);
        } else {
          A[k] = kValue;
        }
        k += 1;
      }
      A.length = len;
      return A;
    };
  }());
}
</script>

<style>
.carousel{
  position: relative;
  width: 100%;
  transform: translateZ(0);
}

.carousel:not(.isInited){
  opacity: 0;
}

.carousel:not(.isInited) *{
  position: static;
}

.carousel *{
  user-select: none;
}

.carousel__Track{
  position: relative;
  overflow: hidden;
  height: 100%;
  backface-visibility: hidden;
}

.carousel__Track.isDraggable:not(.isMouseDown){
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.carousel__Track.isMouseDown {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.carousel__Items{
  position: relative;
  height: 100%;
  backface-visibility: hidden;
}


.carousel__Item{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  backface-visibility: hidden;
}

.carousel__Item img, img.carousel__Item{
  max-width: 100%
}

.carousel__Item.isStatic{
  position: static;
}

.carousel__Item.isStatic *{
  position: static;
}

.carousel__Dots{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 20px 0 0;
}

.carousel__Dots li{
  position: relative;
  width: 12px;
  height: 12px;
  overflow: hidden;
  border-radius: 50%;
}

.carousel__Dots li + li{
  margin-left: 8px;
}

.carousel__Dots button{
  position: absolute;
  background-color: #ddd;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 200ms;
}

.carousel__Dots button:hover{
  background-color: #ccc;
}

.carousel__Dots li.isActive button{
  background-color: #333;
}

.carousel__LoadingBar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  z-index: 10000;
  transform: translateZ(0);
  background-color: rgba(255, 255, 255, 0.5)
}

.carousel__LoadingBar span{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  transition: transform 100ms;
  background-color: #fff;
}

.carousel__LoadingBarPercentage{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  transform: translateZ(0) translateY(-100%);
}

.carousel__Arrows{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.carousel__Arrows *{
  pointer-events: all;
}

.carousel__ArrowNext, .carousel__ArrowPrev{
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  height: 40px;
  z-index: 100;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 129 129' enable-background='new 0 0 129 129' width='512px' height='512px'%3E%3Cg%3E%3Cpath d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9 53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E");
  background-color: transparent;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 200ms;
}

.carousel__ArrowNext:hover,
.carousel__ArrowPrev:hover,
.carousel__ArrowNext:disabled,
.carousel__ArrowPrev:disabled{
  opacity: 0.5;
}

.carousel__ArrowNext{
  right: 10px;
  transform: translateY(-50%);
}

.carousel__ArrowPrev{
  left: 10px;
  transform: translateY(-50%) rotate(180deg)
}
</style>